<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RFID - Monitor | Dashboard</title>
    <% include template/header.ejs %>
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/assets/dist/css/skins/_all-skins.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <% include template/main-header.ejs %>
    <!-- =============================================== -->
    <% include template/main-sidebar.ejs %>
    <!-- =============================================== -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Profile <small>Section</small></h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <!--/.col (left) -->
            <div class="row">
                <div class="col-md-6">
                <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Update Profile</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div><!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal" method="post" action="/profile">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputName" placeholder="Name" name="name" value="<%= user.local.name %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFile" class="col-sm-2 control-label">File input</label>
                                    <div class="col-sm-10">
                                        <input disabled="disabled" type="file" id="exampleInputFile" name="file">
                                        <p class="help-block">Upload your photo.</p>
                                    </div>
                                </div>
                            </div><!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" class="btn btn-info pull-right">Update</button>
                            </div><!-- /.box-footer -->
                        </form>
                    </div><!-- /.box -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Add Device ID</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div><!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal" method="post" action="/device">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Device ID</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputName" placeholder="eg. hygf58jh6442398jny" name="deviceId">
                                    </div>
                                </div>
                            </div><!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" class="btn btn-info pull-right">Add</button>
                            </div><!-- /.box-footer -->
                        </form>
                    </div><!-- /.box -->
                </div>
                <div class="col-md-6">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">RFID Record</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Device ID</th>
                                    <th>Card ID</th>
                                    <th>Time</th>
                                </tr>
                                <% var sum = 0; %>
                                <% for(var i=0; i<user.local.deviceSerialNumber.length; i++ ){%>
                                <% for(var j=0; j<user.local.deviceSerialNumber[i].records.length; j++ ){%>
                                <% sum++ %>
                                <tr>
                                    <td><%= sum %>.</td>
                                    <td><%= user.local.deviceSerialNumber[i].serialNumber %></td>
                                    <td><%= user.local.deviceSerialNumber[i].records[j].rfidCardNumber %></td>
                                    <td>
                                        <%= new Date(user.local.deviceSerialNumber[i].records[j].timeDevice).toDateString() %>(
                                        <%= new Date(user.local.deviceSerialNumber[i].records[j].timeDevice).getHours() %> :
                                        <%= new Date(user.local.deviceSerialNumber[i].records[j].timeDevice).getMinutes() %> :
                                        <%= new Date(user.local.deviceSerialNumber[i].records[j].timeDevice).getSeconds() %>)
                                    </td>
                                </tr>
                                <% } %>
                                <% } %>

                            </table>
                        </div><!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="#">&laquo;</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div><!-- /.box -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">DeviceID List</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Device ID</th>
                                    <th>Action</th>
                                </tr>
                                <% for(var i=0; i<user.local.deviceSerialNumber.length; i++ ){%>
                                <tr>
                                    <td><%= i + 1 %>.</td>
                                    <td><%= user.local.deviceSerialNumber[i].serialNumber %></td>
                                    <td>
                                        <form method="post" action="/device/<%= user.local.deviceSerialNumber[i]._id %>">
                                            <button type="submit" class="btn btn-block btn-danger btn-sm">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                <% } %>

                            </table>
                        </div><!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="#">&laquo;</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div><!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->
    <% include template/main-footer.ejs %>
</div>
<!-- ./wrapper -->
<% include template/footer.ejs %>
<!-- SlimScroll -->
<script src="/assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/assets/plugins/fastclick/fastclick.min.js"></script>
<!-- AdminLTE App -->
<script src="/assets/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/assets/dist/js/demo.js"></script>
</body>
</html>
