<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="<%= user.local.imagePath %>" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p><%= user.local.name %></p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>

            <% if(content == 'dashboard'){ %>
                <li class="active"><a href="/"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
            <% }else{ %>
                <li><a href="/"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
            <% } %>

            <% if(content == 'timeline'){ %>
            <li class="active"><a href="/rfid"><i class="fa fa-tag"></i><span>Timeline</span></a></li>
            <% }else{ %>
            <li><a href="/timeline"><i class="fa fa-tag"></i><span>Timeline</span></a></li>
            <% } %>

            <% if(content == 'profile'){ %>
            <li class="active"><a href="/profile"><i class="fa fa-gear"></i><span>Profile</span></a></li>
            <% }else{ %>
            <li><a href="/profile"><i class="fa fa-gear"></i><span>Profile</span></a></li>
            <% } %>

            <% if(content == 'neraca'){ %>
            <li class="active"><a href="/neraca"><i class="fa fa-gear"></i><span>Neraca</span></a></li>
            <% }else{ %>
            <li><a href="/neraca"><i class="fa fa-balance-scale"></i><span>Neraca</span></a></li>
            <% } %>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>